<html>

<body>


<section id="portfolio">
        <div class="container">

          <div class="col-sm-2 portfolio-item">
  </div>

  <div class="col-sm-4 portfolio-item" style="align-content: right">


<h1>New Property</h1>

<%= render 'form', property: @property %>

<%= link_to 'Back', properties_path %>

</div>

  <div class="col-sm-4 portfolio-item">
  </div>

  <div class="col-sm-2 portfolio-item">
  </div>
  

  </div>

  </section>

  </body>

  </html>
